@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

:root {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;

    --PRIMAL: #fdbd34;
    --BLACK: #080708;
    --WHITE: #edede9;
    --GRAY: #edf2f4;

}

* {
    margin: 0;
    padding: 0;
}

.primal {
    color: var(--PRIMAL);
}