@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;

    --PRIMAL: #fdbd34;
    --BLACK: #0F0E12;
    --WHITE: #f8f9fa;
    --GOLD: #A98743;
    --BLUE: #4F646F;

}

* {
    margin: 0;
    padding: 0;
}

.color-primal {
    color: var(--PRIMAL);
}

.margin-btm-2 {
    margin-bottom: 2rem;
}

.margin-btm-4 {
    margin-bottom: 4rem;
}

.margin-btm-6 {
    margin-bottom: 6rem;
}

body {
    background: var(--WHITE);
}

.social-menu-wrapper {
    list-style: none;
    position: fixed;
    bottom: 5rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
}

.social-menu-wrapper::before {
    content: '';
    position: absolute;
    top: -8.75rem;
    right: 50%;
    height: 6rem;
    border: 1px solid var(--PRIMAL);
    filter: drop-shadow(2px 2px 3px rgb(0 0 0 / 0.4));
}

.svg-icon {
  width: 2.25em;
  height: 2.25em;
  filter: url(#shadow);
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: var(--PRIMAL);
}

.svg-icon circle {
  stroke: var(--PRIMAL);
  stroke-width: 0;
}

.social-menu-item-wrapper:hover .svg-icon {
    cursor: pointer;
    fill: var(--WHITE);
    transform: translateX(-5px);
    transition: .35s;
}

.search {
    height: 1.5em;
    width: 1.5em;
}

.search path {
    fill: var(--BLACK);
}

header, .nav-menu, .cta-wrapper, .hero-wrapper {
    display: flex;
}

header, .nav-menu, .cta-wrapper {
    align-items: center;
}

header {
    justify-content: space-between;
    color: var(--BLACK);
    background: var(--WHITE);
    padding: 1rem 2rem;
}

.logo {
    height: 7rem;
}

.nav-menu {
    list-style: none;
    gap: 3rem;
}

.cta {
    font-weight: 700;
    color: var(--BLACK);
    background: var(--PRIMAL);
    padding: 1.25rem 2.5rem;
}

.cta:hover {
    cursor: pointer;
    color: var(--PRIMAL);
    background: var(--BLACK);
    transition: .35s
}

main {
    font-size: 2rem;
}

.hero-wrapper {
    color: var(--WHITE);
    background-image: linear-gradient(to top, rgba(0, 0, 0, .65) 0%, rgba(0, 0, 0, .7) 20%, rgba(0, 0, 0, .95) 100%), url(./assets/images/bg.jpg);
    background-size: cover;
    min-height: 85vh;
    flex-direction: column;
}

.hero-text-wrapper {
    width: 95vw;
    max-width: 1350px;
    margin: 0 auto;
}

h1 {
    font-size: 8rem;
}

.cta-wrapper {
    gap: 4rem;
}

.hero-media-wrapper {
    padding-top: 28vh;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 95vw;
    max-width: 1350px;
    margin: 0 auto;
    margin-bottom: 8em;
}

.play-btn {
    height: 2em;
    width: 2em;
}

.play-btn path {
    fill: var(--WHITE);
}

.play-btn:hover path {
    cursor: pointer;
    fill: var(--PRIMAL);
}

hr {
    width: 6rem;
    color: white;
}

.mission-wrapper {
    padding: 16rem 0;
    width: 95vw;
    max-width: 1350px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: center;
    color: var(--BLACK);
    background: var(--WHITE);
}

.mission-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.mission-wrapper img {
    width: 100%;
}