@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;

    --primal: #fdbd34;
    --black: #0F0E12;
    --white: #f8f9fa;

    background: var(--white);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.primal {
    color: var(--primal);
}

header,
nav ul {
    display: flex;
    align-items: center;
}

header {
    justify-content: space-between;
    padding: .75rem 1.5rem;
}

nav ul {
    gap: 2rem;
    list-style: none;
}

.logo {
    height: 7rem;
}

.search {
    font-size: .85rem;
}

.cta {
    padding: 1rem 2rem;
    background: var(--primal);
    color: var(--black);
    font-weight: 700;
    border-radius: 5px;
}

.container {
    height: 100%;
    width: 90vw;
    max-width: 1350px;
    margin: 0 auto;
}

.hero-section {
    font-size: 1.5rem;
    color: var(--white);
    background: linear-gradient(to top, rgba(0, 0, 0, .85) 0%, rgba(0, 0, 0, .85) 100%), url(./assets/images/bg.jpg);
    background-size: cover;
    height: 85vh;
}

.hero-section .container,
.cta-wrapper,
.mission-section .container {
    display: flex;
    align-items: center;
}

.hero-section .container {
    flex-direction: column;
    justify-content: center;
}

.cta-wrapper {
    padding-top: 3rem;
    gap: 3rem;
}

h1 {
    font-size: 7em;
    letter-spacing: 1rem;
    font-weight: 400;
    line-height: .8;
}

.mission-section .container {
    padding: 12rem 0;
    gap: 6rem;
}

.mission-section .text-wrapper {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.mission-section img {
    width: 100%;
}

.schedule-section {
    color: var(--white);
    background: url(./assets/images/bg-4.png);
    background-size: cover;
    background-position: top right;
    height: 55vh;
}

.schedule-section .container {
    position: relative;
    display: flex;
    align-items: center;
}

.schedule-section .sc-grid-container {
    position: relative;
    width: 700px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.schedule-section .sc-grid-container::before {
    content: 'Weekly Schedule';
    color: var(--white);
    position: absolute;
    top: -3rem;
    right: 0;
}

.schedule-section .sc-grid-item {
    font-size: 4rem;
    padding: .5rem;
    border-left: .25rem solid var(--white);
}

.schedule-section .sc-grid-item:hover p {
    cursor: pointer;
    font-weight: 700;
    color: var(--primal);
}

.ds-grid-container {
    display: grid;
    grid-template-columns: 1fr .75fr .83fr .16fr 1fr;
}

.ds {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--black);
    background: var(--white);
    padding: 3rem 2rem;
    width: 700px;
    border-radius: 1rem;
}

.ds-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#closeBtn {
    padding: 1rem;
}

#closeBtn:hover {
    cursor: pointer;
}

.ds-grid-item {
    border-right: 3px solid;
    padding: .5rem;
}

.ds-key {
    display: flex;
    justify-content: space-around;
}

.ds-key p {
    padding: .25rem .75rem;
    border: 1px solid var(--black);
}

.kids {background: lightblue;}
.novice {background: lightgreen;}
.intermediate {background: orange;}
.advanced {background: red;}

footer {
    height: 50vh;
}

.display-none {
    display: none;
}